html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:link {
  color: #151515;
}

a:visited {
  color: #151515;
}

a:active {
  color: #ff6600;
}

a:hover {
  color: #ff6600;
}
h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.6rem;
}
label {
  padding: 1.6rem 0;
}
input,
textarea {
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
}
input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 2rem;
}
.t1 {
  font-size: 1.6rem;
}

.t2 {
  font-size: 2rem;
}
.t3 {
  font-size: 3rem;
}

.t4 {
  font-size: 4rem;
}

.mx1 {
  margin: 0rem 1rem;
}

.my1 {
  margin: 1rem 0;
}

.bt1 {
  border-top: 1px solid black;
}

.text-italic {
  font-style: italic;
}

.Header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo span {
  font-family: 'Schoolbell', cursive;
  font-size: 2.6rem;
  color: #ff6600;
  padding: 1rem;
}

.Navigation {
  font-size: 1.6rem;
}

.Navigation ul {
  display: flex;
  flex-direction: row;
}

.Navigation li {
  list-style: none;
  padding: 0 2rem;
}

.Alert {
  background-color: #f0f0f0;
  font-size: 1.6rem;
  text-align: center;
  color: #ff6600;
}

.Alert p {
  padding: 1rem;
}

.SectionHeader {
  padding: 1rem 0;
  border-top: solid 1px black;
}

.SectionBooks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BookCard {
  padding: 1rem;
  min-width: 215px;
  flex: 0 0 25%;
  transition: all 0.2s ease-in-out;
}

.BookCard:hover {
  transform: scale(1.1);
}

.BookCard-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.BookCardImage {
  overflow: hidden;
}

.BookCardImage img {
  box-shadow: 4px 4px #ff6600;
  height: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.BookCardInfo {
  padding: 1rem 0;
}

.BookCardInfoExtra {
  border-top: 1px solid black;
  position: relative;
  padding: 1rem 0;
  font-size: 1.6em;
}

.BookCardInfoExtra::before {
  content: '';
  width: 50%;
  height: 1.1px;
  background-color: white;
  position: absolute;
  left: 0;
  top: -1px;
}

.BookCardInfoExtra span {
  font-style: italic;
}

.Book-Button {
  font-size: 2rem;
  color: #ff6600 !important;
  border: 1px solid #ff6600;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem 3rem;
  text-align: center;
  width: fit-content;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.Book-Button:hover {
  background-color: #151515;
  border: none;
  color: white !important;
  transform: scale(1.1);
}

.book-page-section {
  margin: 1rem 0;
}

.book-container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.book-page-left {
  padding: 0 1rem;
  flex: 1 1;
}

.book-page-right {
  flex: 1 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.book-page-left-wrapper {
}

.book-page-right-wrapper {
}

.book-page-cover img {
  box-shadow: 4px 4px #ff6600;
  width: 100%;
}

.book-page-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbook-form {
  display: flex;
  flex-direction: column;
  background-color: #ff6600;
  border: 4px solid #ff6600;
  border-radius: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  background-color: #424242;
  border: 4px solid #ff6600;
  border-radius: 10px;
}

.form-item {
  color: white;
  font-size: 1.6rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.form-val-msg {
  font-weight: 800;
  font-size: 1.6rem;
  font-style: italic;
}

.fw {
  width: 50%;
  padding: 10px;
}

.options-wrapper,
.image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-preview {
  margin: 1rem;
  border: 2px solid white;
}
.image-preview img {
  max-width: 293px;
}

.image-preview-url {
  flex: 1;
}

.read-summary {
  padding: 2rem;
  margin: 1rem 0;
  background-color: #ff6600;
  border-radius: 20px;
  border: 2px solid #ff6600;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.read-summary-texts {
  padding: 0 5rem;
}

.footer {
  padding: 2rem;
  margin: 1rem 0;
  background-color: #ff6600;
  border-radius: 20px;
  border: 2px solid #ff6600;
  color: #f0f0f0;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: underline;
}
.footer a {
  color: white;
  font-style: italic;
  font-weight: 900;
}
