html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.8rem;
}

.Header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Logo span {
  font-family: 'Schoolbell', cursive;
  font-size: 2.6rem;
  color: #ff6600;
}

.Navigation {
  font-size: 1.6rem;
}

.Navigation ul {
  display: flex;
  flex-direction: row;
}

.Navigation li {
  list-style: none;
  padding: 0 2rem;
}

.Alert {
  background-color: #f0f0f0;
  font-size: 1.6rem;
  text-align: center;
  color: #ff6600;
}

.Alert p {
  padding: 1rem;
}

.SectionHeader {
  padding: 1rem 0;
  border-top: solid 1px black;
}

.SectionBooks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.BookCard {
  border: 1px solid black;
  padding: 0.5rem;
}
